<div class="grid-container">
    <div class="grid-x grid-margin-x small-up-1 medium-up-1 large-up-1">
        <div class="cell">
            <div class="card article-post-card">
                <div class="card-section">
                    <h4 class="post-title">{{postData.title}}</h4> 
                    <p>{{postData.body}}</p>
                    <a href={{postData.link}} target="_blank">Read the article here</a>
                    <p class="post-body"> Posted by: <a class="form-link" href="/teamDashboard/{{postData.user.username}}">{{postData.user.username}}</a>, {{format_date_time postData.createdAt}}</p>
                    <button data-open="postModal"> Add comment
                        <i class="fa-solid fa-square-plus custom-plus"></i>
                    </button>
                </div>
                <div class="reveal" id="postModal" data-reveal>
                    <form>
                        <h4 data-id={{postData.post_id}} id="post-id"> Add your comment... </h4>
                        <textarea type="text" placeholder="Enter comment here" class="form-input" name="comment-input"
                            required></textarea>
                        <a href="" class="submit" id="submit-comment">Submit Comment!</a>
                    </form>
                </div>
                {{#if postData.comments}}
                <section>
                <div><h5>Team Comments</h5></div>
                {{#each postData.comments}}
                <div class="card comment-card">
                    <div class="card-section">
                        <p class="comment-body">{{body}}</p>
                        <p>- {{user.username}}, {{format_date_time createdAt}}</p>
                    </div>
                </div>
                {{/each}}
                </section>
                {{/if}}
            </div>
        </div>
    </div>
</div>
<script src="/js/comment.js"></script>
<script src="../utils/helpers.js"></script>
