<div class="grid-container comment-container">
    <div class="grid-x grid-margin-x small-up-1 medium-up-1 large-up-1">
        <div class="cell">
            <div class="card article-post-card">
                <div class="card-section">

                    <div class="article-post-content">
                        <h3 class="article-post-title">{{postData.title}}</h3>
                        <p>{{postData.body}}</p>
                        <a href={{postData.link}} target="_blank" class="article-link form-link">Read the
                            article</a>
                        <button data-open="postModal" class="comment-link"> Add comment
                            <i class=" fa-solid fa-square-plus custom-plus"></i>
                        </button>
                    </div>
                    <div class="article-post-details">
                        <p class="post-body"> Posted by: <a href="/teamDashboard/{{username}}"
                                class="form-link">{{postData.user.username}}</a>,
                            {{format_date_time
                            postData.createdAt}}
                        </p>
                    </div>
                </div>
                <div class="reveal comment-form-wrap" id="postModal" data-reveal>
                    <form class="comment-form">
                        <h4 data-id={{postData.post_id}} id="post-id" class="comment-title"> Add your comment</h4>
                        <textarea type="text" placeholder="Enter comment here" class="form-input comment-input"
                            name="comment-input" required></textarea>
                        <a href="" class="form-btn form-link" id="submit-comment">Post comment</a>
                    </form>
                </div>
                {{#if postData.comments}}
                <section>
                    <div>
                        <h4>Team Comments</h4>
                        <div class="footer-bar"></div>
                    </div>
                    {{#each postData.comments}}
                    <div class="card comment-card">
                        <div class="card-section">
                            <p class="comment-body">{{body}}</p>
                            <p>- {{user.username}}, {{format_date_time createdAt}}</p>
                        </div>
                    </div>
                    {{/each}}
                </section>
                {{/if}}
            </div>
        </div>
    </div>
</div>
<script src="/js/comment.js"></script>
<script src="/utils/helpers.js"></script>