<div class="grid-container">
    <div class="grid-x grid-margin-x small-up-1 medium-up-1 large-up-1">
        <div class="cell">
            <div class="card article-post-card">
                <div class="card-section">
                    <h4 class="post-title">{{postData.title}}</h4>
                    <p>{{postData.body}}</p>
                    <a href={{postData.link}}>Read the article here</a>
                    <p class="post-body"> Posted by: {{postData.user.username}} at {{postData.createdAt}}</p>
                </div>
                {{#if postData.comments}}
                <section>
                <div><h5>Team Comments</h5></div>
                {{#each postData.comments}}
                <div class="card comment-card">
                    <div class="card-section">
                        <p>{{user.username}} - {{createdAt}}</p>
                        <p class="comment-body">{{body}}</p>
                    </div>
                </div>
                {{/each}}
                </section>
                {{/if}}
            </div>
        </div>
    </div>
</div>
<script src="/js/loadComments.js"></script>
