<p><button class="button" data-open="preferencesModal">Add your prefrences!</button></p>
<div class="reveal" id="preferencesModal" data-reveal>
  <div class="card-divider">
    <h3>Preferences</h3>
  </div>
  <div>
    <fieldset class="large-6 cell">
      <legend>Select which categories you prefer to read about</legend>
      <input id="checkbox1" type="checkbox" value="1"><label for="checkbox1">Sports</label>
      <input id="checkbox2" type="checkbox" value="2"><label for="checkbox2">Politics</label>
      <input id="checkbox3" type="checkbox" value="3"><label for="checkbox3">Wellness</label>
      <input id="checkbox4" type="checkbox" value="4"><label for="checkbox4">Travel</label>
      <input id="checkbox5" type="checkbox" value="5"><label for="checkbox5">Style & Beauty </label>
      <input id="checkbox6" type="checkbox" value="6"><label for="checkbox6">Healthy Living</label>
      <input id="checkbox7" type="checkbox" value="7"><label for="checkbox7">Parenting</label>
      <input id="checkbox8" type="checkbox" value="8"><label for="checkbox8">Queer Voices</label>
      <input id="checkbox9" type="checkbox" value="9"><label for="checkbox9">Food & Drink</label>
      <input id="checkbox10" type="checkbox" value="10"><label for="checkbox10">Business</label>
      <input id="checkbox11" type="checkbox" value="11"><label for="checkbox11">Comedy</label>
      <input id="checkbox12" type="checkbox" value="12"><label for="checkbox12">Black Voices</label>
      <input id="checkbox13" type="checkbox" value="13"><label for="checkbox13">Home & Living</label>
      <input id="checkbox14" type="checkbox" value="14"><label for="checkbox14">Parents</label>
      <input id="checkbox15" type="checkbox" value="15"><label for="checkbox15">Entertainment</label>
    </fieldset>
    <button type="submit" class="button" id="select-preferences-btn">Submit Preferences!</button>
  </div>
</div>
<h3>
  Browse your News for the Day!
</h3>

<div class="grid-x">
  {{#each article}}
  <div class="card column medium-10 cell">
    <h3>{{category}}</h3>
    <div class="card-divider">
      <h3>
        <a href={{link}} target="_blank">
          {{headline}}
        </a>
      </h3>
      <button data-open="postModal">
        <i class="fa-solid fa-square-plus custom-plus"></i>
      </button>
    </div>
    <div class="card-section">
      <h4>{{short_description}}</h4>
    </div>
    <div class="reveal" id="postModal" data-reveal>
      <form>
        <h4 data-id={{article_id}} id="article-id">{{headline}} </h4>
        <input type="text" placeholder="Enter your post title here" class="form-input" name="post-title" required>
        <textarea type="text" placeholder="Enter your post here" class="form-input" name="post-input" required></textarea>
        <a href="/teamDashboard" class="submit" id="submit-post">Submit Post!</a>
      </form>
    </div>
  </div>
  {{/each}}
</div>

<script src="/js/userPreferences.js"></script>
<script src="/js/post.js"></script>
