<p><button class="button" data-open="preferencesModal">Add your prefrences!</button></p>
<div class="reveal" id="preferencesModal" data-reveal>
  <div class="card-divider" c>
    <h3>Preferences</h3>
  </div>
  <div>
    <fieldset class="large-6 cell">
      <legend>Select which categories you prefer to read about</legend>
      <input id="checkbox1" type="checkbox"><label for="checkbox1">Sports</label>
      <input id="checkbox2" type="checkbox"><label for="checkbox2">Politics</label>
      <input id="checkbox3" type="checkbox"><label for="checkbox3">Wellness</label>
      <input id="checkbox4" type="checkbox"><label for="checkbox4">Travel</label>
      <input id="checkbox5" type="checkbox"><label for="checkbox5">Style & Beauty </label>
      <input id="checkbox6" type="checkbox"><label for="checkbox6">Healthy Living</label>
      <input id="checkbox7" type="checkbox"><label for="checkbox7">Parenting</label>
      <input id="checkbox8" type="checkbox"><label for="checkbox8">Queer Voices</label>
      <input id="checkbox9" type="checkbox"><label for="checkbox9">Food & Drink</label>
      <input id="checkbox10" type="checkbox"><label for="checkbox10">Business</label>
      <input id="checkbox11" type="checkbox"><label for="checkbox11">Comedy</label>
      <input id="checkbox12" type="checkbox"><label for="checkbox12">Black Voices</label>
      <input id="checkbox13" type="checkbox"><label for="checkbox13">Home & Living</label>
      <input id="checkbox14" type="checkbox"><label for="checkbox14">Parents</label>
      <input id="checkbox15" type="checkbox"><label for="checkbox15">Entertainment</label>
    </fieldset>
    <button type="submit" class="button" id="select-preferences-btn">Submit Preferences!</button>
  </div>
</div>
<h3>
  Browse your News for the Day!
</h3>
<div class="grid-x">
    <div class="card column medium-10 cell">
      <div class="card-divider">
        <h3 href="{{article.article.link}}">
          <a>
            Article Title Here
          </a>
        </h3>
        <button data-open="postModal">
          <i class="fa-solid fa-square-plus custom-plus"></i>
        </button>
      </div>
      <div class="card-section">
        <h4>Short Description Here</h4>
      </div>
      <div class="reveal" id="postModal" data-reveal>
        <form>
          <h4> example article title
            {{article.article.title}} </h4>
          <input type="text" placeholder="Enter your post here" class="form-input" id="post-input" required>
          <a href="/teamDashboard" class="submit">Submit Post!</a>
        </form>
      </div>
    </div>
    <div class="card column medium-10">
      <div class="card-divider">
        <h3 href="{{article.article.link}}">
          <a>
            Article Title Here
          </a>
        </h3>
        <button data-open="postModal">
          <i class="fa-solid fa-square-plus custom-plus"></i>
        </button>
      </div>
      <div class="card-section">
        <h4>Short Description Here</h4>
      </div>
      <div class="reveal" id="postModal" data-reveal>
        <form>
          <h4> example article title
            {{article.article.title}} </h4>
          <input type="text" placeholder="Enter your post here" class="form-input" id="post-input" required>
          <a href="/teamDashboard" class="submit">Submit Post!</a>
        </form>
      </div>
    </div>
    <div class="card column medium-10">
      <div class="card-divider">
        <h3 href="{{article.article.link}}">
          <a>
            Article Title Here
          </a>
        </h3>
        <button data-open="postModal">
          <i class="fa-solid fa-square-plus custom-plus"></i>
        </button>
      </div>
      <div class="card-section">
        <h4>Short Description Here</h4>
      </div>
      <div class="reveal" id="postModal" data-reveal>
        <form>
          <h4> example article title
            {{article.article.headline}} </h4>
          <input type="text" placeholder="Enter your post here" class="form-input" id="post-input" required>
          <a href="/teamDashboard" class="submit">Submit Post!</a>
        </form>
      </div>
    </div>
    <div class="card column medium-10">
      <div class="card-divider">
        <h3 href="{{article.article.link}}">
          <a>
            Article Title Here
          </a>
        </h3>
        <button data-open="postModal">
          <i class="fa-solid fa-square-plus custom-plus"></i>
        </button>
      </div>
      <div class="card-section">
        <h4>Short Description Here</h4>
      </div>
      <div class="reveal" id="postModal" data-reveal>
        <form>
          <h4> example article title
            {{article.article.title}} </h4>
          <input type="text" placeholder="Enter your post here" class="form-input" id="post-input" required>
          <a href="/teamDashboard" class="submit">Submit Post!</a>
        </form>
      </div>
    </div>
    <div class="card column medium-10">
      <div class="card-divider">
        <h3 href="{{article.article.link}}">
          <a>
            Article Title Here
          </a>
        </h3>
        <button data-open="postModal">
          <i class="fa-solid fa-square-plus custom-plus"></i>
        </button>
      </div>
      <div class="card-section">
        <h4>Short Description Here</h4>
      </div>
      <div class="reveal" id="postModal" data-reveal>
        <form>
          <h4> example article title
            {{article.article.title}} </h4>
          <input type="text" placeholder="Enter your post here" class="form-input" id="post-input" required>
          <a href="/teamDashboard" class="submit">Submit Post!</a>
        </form>
      </div>
    </div>
</div>