<div class="reveal preferences-modal" id="preferencesModal" data-reveal>
  <div class="card-divider preferences-modal-title">
    <h3 class="preferences-modal-title">Preferences</h3>
  </div>
  <div>
    <fieldset class="large-6 cell card-section preferences-modal-values">
      <p>Select which categories you prefer to read about:</p>
      <input id="checkbox1" type="checkbox" value="1"><label for="checkbox1">Sports</label>
      <input id="checkbox2" type="checkbox" value="2"><label for="checkbox2">Politics</label>
      <input id="checkbox3" type="checkbox" value="3"><label for="checkbox3">Wellness</label>
      <input id="checkbox4" type="checkbox" value="4"><label for="checkbox4">Travel</label>
      <input id="checkbox5" type="checkbox" value="5"><label for="checkbox5">Style & Beauty </label>
      <input id="checkbox6" type="checkbox" value="6"><label for="checkbox6">Tech</label>
      <input id="checkbox7" type="checkbox" value="7"><label for="checkbox7">Parenting</label>
      <input id="checkbox8" type="checkbox" value="8"><label for="checkbox8">Queer Voices</label>
      <input id="checkbox9" type="checkbox" value="9"><label for="checkbox9">Food & Drink</label>
      <input id="checkbox10" type="checkbox" value="10"><label for="checkbox10">Business</label>
      <input id="checkbox11" type="checkbox" value="11"><label for="checkbox11">Comedy</label>
      <input id="checkbox12" type="checkbox" value="12"><label for="checkbox12">Black Voices</label>
      <input id="checkbox13" type="checkbox" value="13"><label for="checkbox13">Culture & Arts</label>
      <input id="checkbox14" type="checkbox" value="14"><label for="checkbox14">Weird News</label>
      <input id="checkbox15" type="checkbox" value="15"><label for="checkbox15">Entertainment</label>
    </fieldset>
    <button type="submit" class="form-btn" id="select-preferences-btn">Submit</button>
  </div>
</div>
<div class="user-dash-title-wrap">
  <h2 class="user-dashboard-title">
    Your news for the day
  </h2>
  <p><button class="form-btn" data-open="preferencesModal">Add your preferences</button></p>
</div>

<ul class="tabs tabs-title-container" data-tabs id="news-tabs">
  {{#if sportsArticles}}
  <li class="tabs-title"><a href="#sports">Sports</a></li>
  {{/if}}
  {{#if politicsArticles}}
  <li class="tabs-title "><a href="#politics">Politics</a></li>
  {{/if}}
  {{#if wellnessArticles}}
  <li class="tabs-title"><a href="#wellness">Wellness</a></li>
  {{/if}}
  {{#if travelArticles}}
  <li class="tabs-title"><a href="#travel">Travel</a></li>
  {{/if}}
  {{#if stylebeautyArticles}}
  <li class="tabs-title"><a href="#style-beauty">Style & Beauty</a></li>
  {{/if}}
  {{#if techArticles}}
  <li class="tabs-title"><a href="#tech">Tech</a></li>
  {{/if}}
  {{#if parentingArticles}}
  <li class="tabs-title"><a href="#parenting">Parenting</a></li>
  {{/if}}
  {{#if queervoicesArticles}}
  <li class="tabs-title"><a href="#queer-voices">Queer Voices</a></li>
  {{/if}}
  {{#if fooddrinkArticles}}
  <li class="tabs-title"><a href="#food-drink">Food & Drink</a></li>
  {{/if}}
  {{#if businessArticles}}
  <li class="tabs-title"><a href="#business">Business</a></li>
  {{/if}}
  {{#if comedyArticles}}
  <li class="tabs-title"><a href="#comedy">Comedy</a></li>
  {{/if}}
  {{#if blackvoicesArticles}}
  <li class="tabs-title"><a href="#black-voices">Black Voices</a></li>
  {{/if}}
  {{#if cultureartsArticles}}
  <li class="tabs-title"><a href="#culture-arts">Culture & Arts</a></li>
  {{/if}}
  {{#if weirdnewsArticles}}
  <li class="tabs-title"><a href="#weird-news">Weird News</a></li>
  {{/if}}
  {{#if entertainmentArticles}}
  <li class="tabs-title"><a href="#entertainment">Entertainment</a></li>
  {{/if}}
</ul>
<div class="tabs-content" data-tabs-content="news-tabs">
  <div class="tabs-panel" id="sports">
    {{#each sportsArticles}}
    <div class="card column medium-10 cell user-dashboard-article">
      <div class="card-divider article-title">
        <h4>
          <a href={{link}} class="form-link" target="_blank">
            {{headline}}
          </a>
        </h4>
        <button data-open="postModal{{article_id}}">
          <i class="fa-solid fa-square-plus custom-plus"></i>
        </button>
      </div>
      <div class="card-section">
        <p>{{short_description}}</p>
      </div>
      <div class="reveal post-modal" id="postModal{{article_id}}" data-reveal>
        <form class="post-modal">
          <h4 data-id={{article_id}} id="article-id" class="post-modal-title">{{headline}} </h4>
          <input type="text" placeholder="Enter your post title here" class="form-input" name="post-title{{article_id}}"
            required>
          <textarea type="text" placeholder="Enter your post here" class="form-input" name="post-input{{article_id}}"
            required></textarea>
          <button class="form-btn" id="submit-post{{article_id}}">Submit Post!</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="tabs-panel" id="politics">
    {{#each politicsArticles}}
    <div class="card column medium-10 cell user-dashboard-article">
      <div class="card-divider article-title">
        <h4>
          <a href={{link}} class="form-link" target="_blank">
            {{headline}}
          </a>
        </h4>
        <button data-open="postModal{{article_id}}">
          <i class="fa-solid fa-square-plus custom-plus"></i>
        </button>
      </div>
      <div class="card-section">
        <p>{{short_description}}</p>
      </div>
      <div class="reveal post-modal" id="postModal{{article_id}}" data-reveal>
        <form class="post-modal">
          <h4 data-id={{article_id}} id="article-id" class="post-modal-title">{{headline}} </h4>
          <input type="text" placeholder="Enter your post title here" class="form-input" name="post-title{{article_id}}"
            required>
          <textarea type="text" placeholder="Enter your post here" class="form-input" name="post-input{{article_id}}"
            required></textarea>
          <button class="form-btn" id="submit-post{{article_id}}">Submit Post!</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="tabs-panel" id="wellness">
    {{#each wellnessArticles}}
    <div class="card column medium-10 cell user-dashboard-article">
      <div class="card-divider article-title">
        <h4>
          <a href={{link}} class="form-link" target="_blank">
            {{headline}}
          </a>
        </h4>
        <button data-open="postModal{{article_id}}">
          <i class="fa-solid fa-square-plus custom-plus"></i>
        </button>
      </div>
      <div class="card-section">
        <p>{{short_description}}</p>
      </div>
      <div class="reveal post-modal" id="postModal{{article_id}}" data-reveal>
        <form class="post-modal">
          <h4 data-id={{article_id}} id="article-id" class="post-modal-title">{{headline}} </h4>
          <input type="text" placeholder="Enter your post title here" class="form-input" name="post-title{{article_id}}"
            required>
          <textarea type="text" placeholder="Enter your post here" class="form-input" name="post-input{{article_id}}"
            required></textarea>
          <button class="form-btn" id="submit-post{{article_id}}">Submit Post!</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="tabs-panel" id="travel">
    {{#each travelArticles}}
    <div class="card column medium-10 cell user-dashboard-article">
      <div class="card-divider article-title">
        <h4>
          <a href={{link}} class="form-link" target="_blank">
            {{headline}}
          </a>
        </h4>
        <button data-open="postModal{{article_id}}">
          <i class="fa-solid fa-square-plus custom-plus"></i>
        </button>
      </div>
      <div class="card-section">
        <p>{{short_description}}</p>
      </div>
      <div class="reveal post-modal" id="postModal{{article_id}}" data-reveal>
        <form class="post-modal">
          <h4 data-id={{article_id}} id="article-id" class="post-modal-title">{{headline}} </h4>
          <input type="text" placeholder="Enter your post title here" class="form-input" name="post-title{{article_id}}"
            required>
          <textarea type="text" placeholder="Enter your post here" class="form-input" name="post-input{{article_id}}"
            required></textarea>
          <button class="form-btn" id="submit-post{{article_id}}">Submit Post!</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="tabs-panel" id="style-beauty">
    {{#each stylebeautyArticles}}
    <div class="card column medium-10 cell user-dashboard-article">
      <div class="card-divider article-title">
        <h4>
          <a href={{link}} class="form-link" target="_blank">
            {{headline}}
          </a>
        </h4>
        <button data-open="postModal{{article_id}}">
          <i class="fa-solid fa-square-plus custom-plus"></i>
        </button>
      </div>
      <div class="card-section">
        <p>{{short_description}}</p>
      </div>
      <div class="reveal post-modal" id="postModal{{article_id}}" data-reveal>
        <form class="post-modal">
          <h4 data-id={{article_id}} id="article-id" class="post-modal-title">{{headline}} </h4>
          <input type="text" placeholder="Enter your post title here" class="form-input" name="post-title{{article_id}}"
            required>
          <textarea type="text" placeholder="Enter your post here" class="form-input" name="post-input{{article_id}}"
            required></textarea>
          <button class="form-btn" id="submit-post{{article_id}}">Submit Post!</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="tabs-panel" id="tech">
    {{#each techArticles}}
    <div class="card column medium-10 cell user-dashboard-article">
      <div class="card-divider article-title">
        <h4>
          <a href={{link}} class="form-link" target="_blank">
            {{headline}}
          </a>
        </h4>
        <button data-open="postModal{{article_id}}">
          <i class="fa-solid fa-square-plus custom-plus"></i>
        </button>
      </div>
      <div class="card-section">
        <p>{{short_description}}</p>
      </div>
      <div class="reveal post-modal" id="postModal{{article_id}}" data-reveal>
        <form class="post-modal">
          <h4 data-id={{article_id}} id="article-id" class="post-modal-title">{{headline}} </h4>
          <input type="text" placeholder="Enter your post title here" class="form-input" name="post-title{{article_id}}"
            required>
          <textarea type="text" placeholder="Enter your post here" class="form-input" name="post-input{{article_id}}"
            required></textarea>
          <button class="form-btn" id="submit-post{{article_id}}">Submit Post!</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="tabs-panel" id="parenting">
    {{#each parentingArticles}}
    <div class="card column medium-10 cell user-dashboard-article">
      <div class="card-divider article-title">
        <h4>
          <a href={{link}} class="form-link" target="_blank">
            {{headline}}
          </a>
        </h4>
        <button data-open="postModal{{article_id}}">
          <i class="fa-solid fa-square-plus custom-plus"></i>
        </button>
      </div>
      <div class="card-section">
        <p>{{short_description}}</p>
      </div>
      <div class="reveal post-modal" id="postModal{{article_id}}" data-reveal>
        <form class="post-modal">
          <h4 data-id={{article_id}} id="article-id" class="post-modal-title">{{headline}} </h4>
          <input type="text" placeholder="Enter your post title here" class="form-input" name="post-title{{article_id}}"
            required>
          <textarea type="text" placeholder="Enter your post here" class="form-input" name="post-input{{article_id}}"
            required></textarea>
          <button class="form-btn" id="submit-post{{article_id}}">Submit Post!</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="tabs-panel" id="queer-voices">
    {{#each queervoicesArticles}}
    <div class="card column medium-10 cell user-dashboard-article">
      <div class="card-divider article-title">
        <h4>
          <a href={{link}} class="form-link" target="_blank">
            {{headline}}
          </a>
        </h4>
        <button data-open="postModal{{article_id}}">
          <i class="fa-solid fa-square-plus custom-plus"></i>
        </button>
      </div>
      <div class="card-section">
        <p>{{short_description}}</p>
      </div>
      <div class="reveal post-modal" id="postModal{{article_id}}" data-reveal>
        <form class="post-modal">
          <h4 data-id={{article_id}} id="article-id" class="post-modal-title">{{headline}} </h4>
          <input type="text" placeholder="Enter your post title here" class="form-input" name="post-title{{article_id}}"
            required>
          <textarea type="text" placeholder="Enter your post here" class="form-input" name="post-input{{article_id}}"
            required></textarea>
          <button class="form-btn" id="submit-post{{article_id}}">Submit Post!</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="tabs-panel" id="food-drink">
    {{#each fooddrinkArticles}}
    <div class="card column medium-10 cell user-dashboard-article">
      <div class="card-divider article-title">
        <h4>
          <a href={{link}} class="form-link" target="_blank">
            {{headline}}
          </a>
        </h4>
        <button data-open="postModal{{article_id}}">
          <i class="fa-solid fa-square-plus custom-plus"></i>
        </button>
      </div>
      <div class="card-section">
        <p>{{short_description}}</p>
      </div>
      <div class="reveal post-modal" id="postModal{{article_id}}" data-reveal>
        <form class="post-modal">
          <h4 data-id={{article_id}} id="article-id" class="post-modal-title">{{headline}} </h4>
          <input type="text" placeholder="Enter your post title here" class="form-input" name="post-title{{article_id}}"
            required>
          <textarea type="text" placeholder="Enter your post here" class="form-input" name="post-input{{article_id}}"
            required></textarea>
          <button class="form-btn" id="submit-post{{article_id}}">Submit Post!</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="tabs-panel" id="business">
    {{#each businessArticles}}
    <div class="card column medium-10 cell user-dashboard-article">
      <div class="card-divider article-title">
        <h4>
          <a href={{link}} class="form-link" target="_blank">
            {{headline}}
          </a>
        </h4>
        <button data-open="postModal{{article_id}}">
          <i class="fa-solid fa-square-plus custom-plus"></i>
        </button>
      </div>
      <div class="card-section">
        <p>{{short_description}}</p>
      </div>
      <div class="reveal post-modal" id="postModal{{article_id}}" data-reveal>
        <form class="post-modal">
          <h4 data-id={{article_id}} id="article-id" class="post-modal-title">{{headline}} </h4>
          <input type="text" placeholder="Enter your post title here" class="form-input" name="post-title{{article_id}}"
            required>
          <textarea type="text" placeholder="Enter your post here" class="form-input" name="post-input{{article_id}}"
            required></textarea>
          <button class="form-btn" id="submit-post{{article_id}}">Submit Post!</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="tabs-panel" id="comedy">
    {{#each comedyArticles}}
    <div class="card column medium-10 cell user-dashboard-article">
      <div class="card-divider article-title">
        <h4>
          <a href={{link}} class="form-link" target="_blank">
            {{headline}}
          </a>
        </h4>
        <button data-open="postModal{{article_id}}">
          <i class="fa-solid fa-square-plus custom-plus"></i>
        </button>
      </div>
      <div class="card-section">
        <p>{{short_description}}</p>
      </div>
      <div class="reveal post-modal" id="postModal{{article_id}}" data-reveal>
        <form class="post-modal">
          <h4 data-id={{article_id}} id="article-id" class="post-modal-title">{{headline}} </h4>
          <input type="text" placeholder="Enter your post title here" class="form-input" name="post-title{{article_id}}"
            required>
          <textarea type="text" placeholder="Enter your post here" class="form-input" name="post-input{{article_id}}"
            required></textarea>
          <button class="form-btn" id="submit-post{{article_id}}">Submit Post!</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="tabs-panel" id="black-voices">
    {{#each blackvoicesArticles}}
    <div class="card column medium-10 cell user-dashboard-article">
      <div class="card-divider article-title">
        <h4>
          <a href={{link}} class="form-link" target="_blank">
            {{headline}}
          </a>
        </h4>
        <button data-open="postModal{{article_id}}">
          <i class="fa-solid fa-square-plus custom-plus"></i>
        </button>
      </div>
      <div class="card-section">
        <p>{{short_description}}</p>
      </div>
      <div class="reveal post-modal" id="postModal{{article_id}}" data-reveal>
        <form class="post-modal">
          <h4 data-id={{article_id}} id="article-id" class="post-modal-title">{{headline}} </h4>
          <input type="text" placeholder="Enter your post title here" class="form-input" name="post-title{{article_id}}"
            required>
          <textarea type="text" placeholder="Enter your post here" class="form-input" name="post-input{{article_id}}"
            required></textarea>
          <button class="form-btn" id="submit-post{{article_id}}">Submit Post!</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="tabs-panel" id="culture-arts">
    {{#each cultureartsArticles}}
    <div class="card column medium-10 cell user-dashboard-article">
      <div class="card-divider article-title">
        <h4>
          <a href={{link}} class="form-link" target="_blank">
            {{headline}}
          </a>
        </h4>
        <button data-open="postModal{{article_id}}">
          <i class="fa-solid fa-square-plus custom-plus"></i>
        </button>
      </div>
      <div class="card-section">
        <p>{{short_description}}</p>
      </div>
      <div class="reveal post-modal" id="postModal{{article_id}}" data-reveal>
        <form class="post-modal">
          <h4 data-id={{article_id}} id="article-id" class="post-modal-title">{{headline}} </h4>
          <input type="text" placeholder="Enter your post title here" class="form-input" name="post-title{{article_id}}"
            required>
          <textarea type="text" placeholder="Enter your post here" class="form-input" name="post-input{{article_id}}"
            required></textarea>
          <button class="form-btn" id="submit-post{{article_id}}">Submit Post!</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="tabs-panel" id="weird-news">
    {{#each weirdnewsArticles}}
    <div class="card column medium-10 cell user-dashboard-article">
      <div class="card-divider article-title">
        <h4>
          <a href={{link}} class="form-link" target="_blank">
            {{headline}}
          </a>
        </h4>
        <button data-open="postModal{{article_id}}">
          <i class="fa-solid fa-square-plus custom-plus"></i>
        </button>
      </div>
      <div class="card-section">
        <p>{{short_description}}</p>
      </div>
      <div class="reveal post-modal" id="postModal{{article_id}}" data-reveal>
        <form class="post-modal">
          <h4 data-id={{article_id}} id="article-id" class="post-modal-title">{{headline}} </h4>
          <input type="text" placeholder="Enter your post title here" class="form-input" name="post-title{{article_id}}" required>
          <textarea type="text" placeholder="Enter your post here" class="form-input" name="post-input{{article_id}}"
            required></textarea>
          <button class="form-btn" id="submit-post{{article_id}}">Submit Post!</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="tabs-panel" id="entertainment">
    {{#each entertainmentArticles}}
    <div class="card column medium-10 cell user-dashboard-article">
      <div class="card-divider article-title">
        <h4>
          <a href={{link}} class="form-link" target="_blank">
            {{headline}}
          </a>
        </h4>
        <button data-open="postModal{{article_id}}">
          <i class="fa-solid fa-square-plus custom-plus"></i>
        </button>
      </div>
      <div class="card-section">
        <p>{{short_description}}</p>
      </div>
      <div class="reveal post-modal" id="postModal{{article_id}}" data-reveal>
        <form class="post-modal">
          <h4 data-id={{article_id}} id="article-id" class="post-modal-title">{{headline}} </h4>
          <input type="text" placeholder="Enter your post title here" class="form-input" name="post-title{{article_id}}"
            required>
          <textarea type="text" placeholder="Enter your post here" class="form-input" name="post-input{{article_id}}"
            required></textarea>
          <button class="form-btn" id="submit-post{{article_id}}">Submit Post!</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script src="/js/userPreferences.js"></script>
<script src="/js/post.js"></script>
